<!-- @post_images.each do |post_image| -->
<!-- コントローラから渡された@post_images変数内から -->
<!-- 一つずつ取り出して、post_image変数へ格納する   -->
<% @post_images.each do |post_image| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
  <!-- attachment_image_tagはrefile側が用意したヘルパー -->
  <!-- post_image変数のimage_idに保存された画像のimgタグを生成する-->
    <%= attachment_image_tag post_image, :image %>
  <% end %>
  <p>投稿ユーザー画像:<%= image_tag('sample-author1.jpg') %></p>
  <!-- post_iamge変数のshop_nameカラムを表示する -->
  <p>ショップ名:<%= post_image.shop_name %></p>
  <!-- post_image変数のcaptionカラムを表示する-->
  <p>説明:<%= post_image.caption %></p>
  <!-- post_image変数のuser_idに関連づけられているuserモデルのnameカラムを表示する -->
  <p>ユーザーネーム:<%= post_image.user.name %></p>
  <!-- コメント件数の表示を記述する -->
  <p><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>
</div>
<% end %>

<%= paginate @post_images %>